@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Comfortaa:300,400,700|Orbitron:400,500,700,900|Poiret+One|Yellowtail');

/*font-family: 'Poiret One', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Yellowtail', cursive;
font-family: 'Architects Daughter', cursive;*/

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
}


.projectDisplayContainer {
  width: 45%;
  height: 250px;
  margin: auto;
  margin-bottom: 10px;
}

.front {
  position: absolute;
  transform: perspective(2000px) rotateY(0deg);
  width: 40%;
  height: 25%;
  border-radius: 10px;
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
  overflow: hidden;
  border: solid 1px white;
}

.back {
  position: absolute;
  transform: perspective(2000px) rotateY(180deg);
  background: black;
  width: 40%;
  height: 25%;
  border-radius: 10px;
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
  border: solid 1px white;
  box-shadow: 0px 0px 45px 4px #18E5BC;
  color: white;
  overflow: scroll;
  word-wrap: break-word;
}

.projectDisplayContainer:hover > .front{
  transform: perspective(2000px) rotateY(-180deg);
}

.projectDisplayContainer:hover > .back {
  transform: perspective(2000px) rotateY(0deg);
}

.ufhomeImage, .tictactoeImage, .pupfetcherImage, .fooddiceImage {
  max-width: 100%;
}

.projectParagraph::first-letter{
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
}

.projectParagraph {
  padding: 0px 25px;
  text-indent: 50px;
  letter-spacing: 5px;
  font-family: 'Architects Daughter', cursive;
}

.projectTag {
  cursor: pointer;
  text-decoration: underline;
}

.projectTag:hover {
  box-shadow: 0px 0px 65px 5px #18E5BC, inset 0px 0px 8px 4px #18E5BC;
  border: 1px solid none;
  border-radius: 10px;
  color: #272d34;
  text-shadow: 1px 1px 1px white;
}

.projectList {
  padding: 0px 50px;
  letter-spacing: 5px;
  font-family: 'Architects Daughter', cursive;
}

.projectUL {
  padding: 0px 50px;
  letter-spacing: 5px;
  font-family: 'Architects Daughter', cursive;
}

.projectUL::first-letter{
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
}

