.slideshowSection{
  width: 400px;
  height: 200px;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  perspective: 1000px;
  transform-style: preserve-3d;
}

.slideshowSection .item {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid white;
  transition: transform .5s;
  overflow: hidden;
  box-shadow: 0px 0px 45px 4px #18E5BC;
  top:75%;
  border-radius: 50px
}

.image1, .image2, .image3, .image4, .image5, .image6 {
  width: 105%;
  margin-left: -10px;
  background-position: cover;
}

.imageSelectorSection {
  /*top: 20%;*/
  /*display: flex;*/
  /*flex-direction: row;*/
}

.item {
align-items: center;
}

.rightButton, .leftButton {
  background-color: transparent;
  font-size: 45px;
  border: none;
  color: #18E5BC;
  text-shadow: 0px 0px 45px #18E5BC;
  cursor:pointer;
}

.rightButton:hover, .leftButton:hover {
  text-shadow: 0px 0px 95px #18E5BC;
}

.rightButton:focus, .leftButton:focus {
  outline: none;
}
